<h1>Formulario de registro</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Carrera</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
<div>
  <div>
    <label for="name">Nombre</label>
    <input type="text" id="name">
  </div>
  <div>
    <label for="apell">Apellido</label>
    <input type="text" id="apell">
  </div>
  <div>
    <label for="carrera">Carrera</label>
    <input type="text" id="carrera">
  </div>
  <div>
    <button>GUARDAR</button>
  </div>
</div>